.loading {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
}

.text {
  color: var(--color-text-gray-600);
  transition: color 0.3s ease;
}

