@use '../styles/variables';

.footer {
  background-color: var(--color-bg-gray-900);
  color: var(--color-text-gray-400);
  padding: 2rem 1.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.content {
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
}

