@use '../styles/variables' as *;

.hero {
  min-height: calc(100vh - 70px);
  background-color: $color-dark-green;
  position: relative;
  overflow: hidden;
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: $color-cream;
}

.bgTextWrapper {
  position: absolute;
  top: 10%;
  left: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  pointer-events: none;
}

.bgTextRow {
  font-family: $font-rammetto;
  font-size: 10vw;
  line-height: 0.82;
  color: transparent;
  -webkit-text-stroke: 2px $color-orange;
  white-space: nowrap;
  opacity: 0.9;
}

.textFront {
  z-index: 3;
  position: relative;
  color: $color-cream;
  -webkit-text-stroke: 0;
}

.textBack {
  z-index: 1;
  position: relative;
  margin-top: -2vw;
}

.container {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1280px;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.imageSection {
  position: relative;
  width: 500px;
  aspect-ratio: 5/6;
}

.orangeSquare {
  width: 100%;
  height: 100%;
  background-color: $color-orange-light;
}

.star1 {
  position: absolute;
  top: -40px;
  left: -60px;
  font-size: 3rem;
  color: $color-orange;
  z-index: 5;
}

.star2 {
  position: absolute;
  bottom: -30px;
  right: -30px;
  font-size: 2rem;
  color: $color-orange;
  z-index: 5;
}

.infoSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: $font-sans;
  font-size: 1rem;
  text-align: right;
  padding: 2rem;
  background-color: #2d4338;
}

.bottomDesc {
  position: absolute;
  bottom: 15%;
  left: 5%;
  max-width: 300px;
  font-size: 0.875rem;
  line-height: 1.5;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-left: 2px solid $color-orange;
  z-index: 2;
}

.scrollIndicator {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background-color: $color-orange;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  font-weight: 600;
  color: $text-dark;
  z-index: 10;
  cursor: pointer;
}
